
@{
    ViewBag.Title = "NoComments Staff";
}

<h2 class="text-center">No Comments Found</h2>

<br />

<div class="d-flex justify-content-center d-inline">
    <p>@Html.ActionLink("Back to Post", "ManageUsersPosts", null, new { @class = "links-colors" })</p>
</div>