@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 class="text-center" id="title">@ViewBag.Title.</h2>
    <h3 class="text-center White-Text">@ViewBag.Message</h3>

    <hr />

    <address class="ms-4 White-Text">
        One Haven st<br />
        Glasgow, G6 786<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

</main>